body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 50rem;
    font-size: 14px;

    background-color: #F4F7FA;
    font-family: Roboto, serif;
}

body > .container-fluid {
    min-height: 100% !important;
}

.navbar {
    box-shadow: 0 1px 4px rgba(22, 24, 31, 0.1);
}

.navbar-brand > div {
    display: inline-block;
    vertical-align: top;
}

.navbar-brand > div p span {
    vertical-align: baseline;
}

.navbar-brand {
    font-family: Poppins, serif;
    font-size: 0.6rem !important;
    color: #707583;
    font-weight: 500;
}

.navbar-brand h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 50%;
}

.navbar-brand h1 a {
    font-size: 1.1rem !important;
    color: #0023A3 !important;
    text-decoration: none;
}

.navbar-brand > a > img {
    vertical-align: middle;
    height: 2.5rem;
    display: inline-block;
    margin: 0.5rem 0.8rem
}

.navbar-brand p {
    margin-bottom: 0;
}

.navbar-brand p a {
    vertical-align: text-bottom;
}

.navbar-brand p img {
    height: 1.25rem;
    margin-left: 0.25rem;
}

.navbar i.btn {
    font-size: 1.5rem;
}

#charts .card, #sectionDetails .row > div {
    cursor: pointer;
}

.bg-primary .text-muted {
    color: white !important;
}

.d2h-file-collapse, .d2h-tag {
    opacity: 0; /* trollface */
}

.display-none {
    display: none;
}

.separator-vertical span {
    font-size: 2rem;
    border-left: 1px solid #DCDDDF;
    margin: 0.25rem 0;
}

.nav-link {
    color: #3B3D45!important;
}

.nav-link.active {
    background: #EBEFFF;
    border-radius: 2px;
    color: #1347FF!important;
}

.b-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

#filters h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}

#filters {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    line-height: 175%;
}

#cluster input, #cluster span {
    vertical-align: middle;
}

#installedList > div {
    margin-bottom: 0.75rem;
}

#installedList h2 {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 1rem;
}

#installedList .bg-secondary {
    background: #ECEFF2!important;
}