html {
    min-height: 100%;
}

body {
    font-size: 14px;

    background-color: #F4F7FA;
    font-family: Roboto, serif;
    color: #3D4048;
}

body.bg-variant1 {
    background-color: #F4F7FA;
    background-image: url("topographic.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto 100%;
}

body.bg-variant2 {
    background-color: #E8EDF2;
}

body > .container-fluid {
    min-height: 100% !important;
}

#topNav.navbar {
}


.navbar-brand > a > img {
    vertical-align: middle;
    height: 3rem;
    display: inline-block;
    margin: 0.25rem 0.75rem
}

.navbar-brand > div {
    display: inline-block;
    vertical-align: top;
}

.navbar-brand h1 a {
    font-size: 1.2rem !important;
    color: #0023A3 !important;
    text-decoration: none;
    vertical-align: middle;
}

#topNav .navbar i.btn {
    font-size: 1.5rem;
}

.d2h-file-collapse, .d2h-tag {
    opacity: 0; /* trollface */
}

.display-none {
    display: none;
}

.separator-vertical span {
    font-size: 2rem;
    border-left: 1px solid #DCDDDF;
    margin: 0.25rem 0;
}

#topNav .nav-link {
    color: #3B3D45 !important;
}

#topNav .nav-link.text-danger {
   color: #FC1683 !important;
}

#topNav .nav-link.active {
    background: #EBEFFF;
    border-radius: 2px;
    color: #1347FF !important;
}

.b-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

#filters h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}

#filters {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    line-height: 175%;
}

#cluster input, #cluster span {
    vertical-align: middle;
}

#installedList > div, #installedList .body > div {
    margin-bottom: 0.75rem !important;
}

#installedList h2 {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 1rem;
}


.bg-secondary {
    background: #ECEFF2 !important;
}

.border-secondary {
    border-color: #DCDDDF !important;
}

#installedList .header {
    font-family: Roboto, serif;
    font-weight: 600;
    font-size: 0.6rem;
    color: #3B3D45;
}

#installedList .header .row {
    text-transform: uppercase;
}

#installedList .hdr-name {
    padding-left: 5.5rem
}

#installedList .body {
    font-size: 0.75rem;
}

#installedList .body .row div div {
    margin-top: 0.75rem;
}

span.link {
    cursor: pointer;
}

#installedList .body .row:hover span.link {
    text-decoration: underline;
}

#installedList .body .row div {
    overflow: hidden;
}

#installedList .rel-name {
    padding-left: 5.5rem;
    background-image: url("helm-gray-50.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 1.1rem;
    background-size: 3rem;
}

#installedList .rel-name span {
    font-family: Roboto Slab, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

#sectionDetails h1 {
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
    font-size: 2rem;
}


#installedList .rel-name div {
    height: 2rem;
    min-height: 2rem;
    max-height: 2rem;
}

#installedList .rel-status span {
    text-transform: uppercase;
    font-weight: 700;
}

#installedList .rel-chart span, #installedList .rel-rev span, #installedList .rel-ns span, #installedList .rel-date span {
    font-weight: 700;
}

#installedList .rel-chart div, #installedList .rel-rev div, #installedList .rel-ns div, #installedList .rel-date div {
    text-transform: uppercase;
    color: #707583;
}

#actionButtons .link {
    cursor: pointer;
}

#actionButtons button > * {
    vertical-align: bottom;
}

.d2h-code-side-linenumber {
    position: static;
}

.nav-tabs {
    border: none;
    margin-bottom: 1rem;
}

.nav-tabs .nav-link {
    padding-bottom: 0.25rem;
    color: #3B3D45;
}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid #3B3D45;
    background-color: transparent;
}

#installedList .b-shadow:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.18);
}

#btnUpgradeCheck {
    color: #3B3D45;
}

#btnUpgrade {
    min-width: 9rem;
}

#sectionDetails > .bg-white {
    background-color: #F4F7FA !important;
}

#sectionDetails .list-unstyled .bg-secondary {
    background-color: #F4F7FA !important;
}

#nav-resources .badge {
    font-size: inherit;
}

#nav-resources .bg-secondary {
    background-color: #E6E7EB !important;
}

.res-actions .btn-sm {
    font-size: 0.75rem;
}

.offcanvas-header h5 {
    font-family: Poppins, serif;
    font-weight: 500;
}

.offcanvas-header h5 .badge {
    font-family: Roboto, serif;
    font-weight: normal;
    font-size: 0.8rem;
}

.offcanvas-header p {
    font-family: Inter, serif;
}

#describeModalBody pre {
    font-size: 1rem;
}

#sectionRepo .repo-details ul .row .btn {
    visibility: hidden;
}

#sectionRepo .repo-details ul .row:hover {
    background-color: #F4F7FA !important;
}

#sectionRepo .repo-details ul .row:hover .btn {
    visibility: visible;
}